.info-icon {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.info-icon i {
  color: white;
  font-size: 1.7em;
  padding: 14px 13px;
}

.icon-warning {
  background: #ff8d72;
  background-image: linear-gradient(to bottom left,#ff8d72,#ff6491,#ff8d72);
  background-size: 210% 210%;
  background-position: 100% 0;
}

.icon-success {
    background: #00f2c3;
    background-image: linear-gradient(to bottom left,#00f2c3,#0098f0,#00f2c3);
    background-size: 210% 210%;
    background-position: 100% 0;
}


.numbers {
  text-align: right;
}
